{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="alert alert-secondary" role='alert' style="min-height: 700px;">
					<div class="container">
						<div class="row">
						{% if products_all %}
							{% for product in products_all %}
								<div class="col-4">
									<div class="alert alert-primary" role='alert' style="min-height: 200px;">
										<a href="{{ product.get_absolute_url }}">{{ product }}</a> 
									</div>
								</div>
							{% endfor %}
						</div>
						{% else %}
							<div class="col">
								<h4><strong>NO MATCHES FOUND.</strong></h4>
								<p>Please try something else.</p>
							</div>
						{% endif %}						
					</div>	
				</div>				
			</div>			
		</div>		
	</div>
{% endblock content %}