	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
		   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Male
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		{% if male_categories %}
			{% for category in male_categories %}
				<a class="dropdown-item" href="{% url 'products:p_class:category' prod_class=product_class sex=male category=category.name %}">{{ category }}</a>
			{% endfor %}
		{% endif %}
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="{% url 'products:p_class:sex' prod_class=product_class sex=male %}">All</a>
		</div>							
	</li>

	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
		   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Female
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		{% if female_categories %}
			{% for category in female_categories %}
				<a class="dropdown-item" href="{% url 'products:p_class:category' prod_class=product_class sex=female category=category.name %}">{{ category }}</a>
			{% endfor %}
		{% endif %}
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="{% url 'products:p_class:sex' prod_class=product_class sex=female %}">All</a>
		</div>							
	</li>